@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available movies</h2>
@if (!Model.Any())
{
    <p>No movies available.</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Movies
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

